Esercizio Nodered - Google vision API/FlussoNodered.json
[{"id":"795e351b.3f23ac","type":"visual-recognition-v3","z":"62e41957.8d1608","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":387,"y":761,"wires":[["1d828f0f.d01959","d05ec3b2.55ba3"]]},{"id":"a864f8a6.31506","type":"http in","z":"62e41957.8d1608","name":"","url":"/reco","method":"get","upload":false,"swaggerDoc":"","x":65,"y":607,"wires":[["ca373641.2ef0c"]]},{"id":"95e2d674.ada068","type":"http response","z":"62e41957.8d1608","name":"HTTP Response","statusCode":"","headers":{},"x":779,"y":717,"wires":[]},{"id":"ca373641.2ef0c","type":"switch","z":"62e41957.8d1608","name":"Check image param","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":189,"y":669,"wires":[["6de857b8.4a7ca"],["32e9056f.daad5a"]]},{"id":"6de857b8.4a7ca","type":"template","z":"62e41957.8d1608","name":"Get Image URL","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Welcome to the Watson Visual Recognition Demo on Node-RED</h1>\n    <h2>Select an image URL</h2>\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/1.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/2.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/3.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/4.jpg\" height='100'/>\n        <br/>Copy above image location URL or enter any image URL:<br/>\n        <input type=\"text\" name=\"imageurl\"/>\n        <input type=\"submit\" value=\"Analyze\"/>\n    </form>\n</body>\n</html>","output":"str","x":481,"y":662,"wires":[["95e2d674.ada068"]]},{"id":"32e9056f.daad5a","type":"change","z":"62e41957.8d1608","name":"Extract img URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":158,"y":799,"wires":[["795e351b.3f23ac","9e486aa5.5d08a"]]},{"id":"9e486aa5.5d08a","type":"function","z":"62e41957.8d1608","name":"Make a request for the Google Cloud Vision API to get labels","func":"//var image = {content: msg.payload.toString('base64')};\nvar image = \n{\n        \"source\":{\n          \"imageUri\":\n            msg.payload\n        }\n      };\nvar features = {type: 'LABEL_DETECTION', maxResults: 10};\nvar imageContext = {languageHints: 'ja'};\nvar request = {image: image, features: features, imageContext: imageContext};\nvar requests = {requests: request};\nmsg.payload = requests;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":905,"wires":[["c52411b2.461298"]]},{"id":"c52411b2.461298","type":"change","z":"62e41957.8d1608","name":"Set url and headers","rules":[{"t":"set","p":"url","pt":"msg","to":"https://vision.googleapis.com/v1/images:annotate?key=AIzaSyDVD4-_EML_GzMteHEFIysQGEFXtLjaEoQ","tot":"str"},{"t":"set","p":"headers","pt":"msg","to":"Content-Type: application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":251,"y":958,"wires":[["f6598060.07a71"]]},{"id":"f6598060.07a71","type":"http request","z":"62e41957.8d1608","name":"Send a request to get labels","method":"POST","ret":"obj","url":"","tls":"","x":281,"y":1006,"wires":[["56ef0ec7.484588"]]},{"id":"56ef0ec7.484588","type":"function","z":"62e41957.8d1608","name":"Report found labels","func":"// To skip messages like { \"responses\": [ {} ] }\nif (Object.keys(msg.payload.responses[0]).length < 1) {\n    return null;\n}\n\nvar labels = 'labels: ';\nvar labelAnnotations = msg.payload.responses[0].labelAnnotations;\nfor (var i = 0; i < labelAnnotations.length; i++) {\n    labels += labelAnnotations[i].description;\n    labels +=' (' + labelAnnotations[i].score + '), ';\n}\n\nmsg.payload = labels.slice(0, labels.length - 2);\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":1054,"wires":[["c38690ae.87a0c8"]]},{"id":"d05ec3b2.55ba3","type":"debug","z":"62e41957.8d1608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":451,"y":858,"wires":[]},{"id":"766fee6b.aafcd8","type":"join","z":"62e41957.8d1608","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":680.5,"y":908,"wires":[["d45a4bfa.cf8938","9192c084.7d704"]]},{"id":"c9f9af8.42b115","type":"debug","z":"62e41957.8d1608","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":275,"y":1150,"wires":[]},{"id":"1d828f0f.d01959","type":"function","z":"62e41957.8d1608","name":"Format IBM Visual Rec result","func":"var visual_result = [];\n\nfor(var i=0;i<msg.result.images[0].classifiers[0].classes.length;i++)\n{\n    visual_result.push({\"class\":msg.result.images[0].classifiers[0].classes[i].class, \"score\":msg.result.images[0].classifiers[0].classes[i].score, \"type\": \"IBM\"});\n}\n\nvisual_result.sort(function(a, b){return b.score - a.score});\n\nmsg.urlimage = msg.payload;\nmsg.payload = visual_result;\nreturn msg;","outputs":1,"noerr":0,"x":426,"y":814,"wires":[["766fee6b.aafcd8"]]},{"id":"c38690ae.87a0c8","type":"function","z":"62e41957.8d1608","name":"Format Google Vision result","func":"var visual_result = [];\nvar google_result = msg.payload.substring(8);\nvar classe;\nvar score;\nvar index;\nfor(var i=0;i<10;i++)\n{\nindex = google_result.indexOf(\"(\");\nclasse = google_result.substring(0,index-1);\ngoogle_result = google_result.substring(index+1);\nindex = google_result.indexOf(\")\");\nscore = Number(google_result.substring(0,index));\nvisual_result.push({\"class\": classe,\"score\":score,\"type\":\"Google\"});\ngoogle_result = google_result.substring(index+3);\n}\nvisual_result.sort(function(a, b){return b.score - a.score});\nmsg.payload = visual_result;\nreturn msg;","outputs":1,"noerr":0,"x":268,"y":1102,"wires":[["c9f9af8.42b115","766fee6b.aafcd8"]]},{"id":"d45a4bfa.cf8938","type":"debug","z":"62e41957.8d1608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":705,"y":990,"wires":[]},{"id":"9192c084.7d704","type":"template","z":"62e41957.8d1608","name":"Multiple Report","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition Vs. Google Vision on Node-RED</title></head>\n<body>\n<h1>Watson Visual Recognition Vs. Google Vision on Node-RED</h1>\n<p>Analyzed image: {{urlimage}}<br/><img src=\"{{urlimage}}\" height='100'/></p>\n\n<table border='1' style=\"display: inline-block;\">\n    <thead><tr><th>Name with {{payload.0.0.type}}</th><th>Score with {{payload.0.0.type}}</th></tr></thead>\n{{#payload.0}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/payload.0}}\n</table>\n\n<table border='1' style=\"display: inline-block;\">\n    <thead><tr><th>Name with {{payload.1.0.type}}</th><th>Score with {{payload.1.0.type}}</th></tr></thead>\n{{#payload.1}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/payload.1}}\n</table>\n\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"Try again\"/>\n</form>\n</body>\n</html>","output":"str","x":735,"y":855,"wires":[["95e2d674.ada068"]]}]
