Esercizio Nodered - Watson Language translator e identify.json
[{"id":"6071ae2a.353268","type":"telegram command","z":"2d98046b.f3fb14","name":"","command":"/watson","bot":"de358517.4114b","strict":false,"x":130,"y":60,"wires":[[],["a6d6ae17.b8856"]]},{"id":"c402955a.375d8","type":"telegram sender","z":"2d98046b.f3fb14","name":"","bot":"de358517.4114b","x":760,"y":480,"wires":[[]]},{"id":"22a3cdd1.0f894a","type":"watson-conversation-v1","z":"2d98046b.f3fb14","name":"General","workspaceid":"c4b0da07-8d7a-475f-a86a-071160de5d1a","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway-fra.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":100,"y":260,"wires":[["17e9949c.f4c913"]]},{"id":"a6d6ae17.b8856","type":"function","z":"2d98046b.f3fb14","name":"Prepare for conversation","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":160,"wires":[["22a3cdd1.0f894a"]]},{"id":"37a1fd07.f4b2ca","type":"function","z":"2d98046b.f3fb14","name":"Prepare for telegram","func":"msg.payload = {\n    chatId : msg.chatId,\n    type : \"message\",\n    content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":680,"wires":[["c402955a.375d8"]]},{"id":"17e9949c.f4c913","type":"switch","z":"2d98046b.f3fb14","name":"","property":"payload.context.action","propertyType":"msg","rules":[{"t":"eq","v":"traduci","vt":"str"},{"t":"eq","v":"identifica","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":110,"y":360,"wires":[["4b495cc1.5a6fac"],["49d6da.ed0a4928"],["37a1fd07.f4b2ca"]]},{"id":"4b495cc1.5a6fac","type":"function","z":"2d98046b.f3fb14","name":"Prepara per traduzione","func":"msg.srclang = getLanguage(msg.payload.context.source);\nmsg.destlang = getLanguage(msg.payload.context.destination);\nmsg.payload = msg.payload.input.text;\n//msg.domain = \"Conversational\";\n\nreturn msg;\n\nfunction getLanguage(lang){\n    switch (lang){\n        case \"Tedesco\":\n            return \"de\";\n        case \"Inglese\":\n            return \"en\";\n    }\n    return \"it\";\n}","outputs":1,"noerr":0,"x":320,"y":320,"wires":[["ab9a39db.4ae1b"]]},{"id":"e2169fc8.4099d","type":"function","z":"2d98046b.f3fb14","name":"Prepare for telegram","func":"msg.payload = {\n    chatId : msg.chatId,\n    type : \"message\",\n    content : msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":360,"wires":[["c402955a.375d8"]]},{"id":"db04a65b.047218","type":"function","z":"2d98046b.f3fb14","name":"Clear assistant context","func":"msg.payload = \"Ciao\";\nmsg.params = {\n    context: {}\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":160,"wires":[["c18dd1f1.97a658"]]},{"id":"c18dd1f1.97a658","type":"watson-conversation-v1","z":"2d98046b.f3fb14","name":"General","workspaceid":"c4b0da07-8d7a-475f-a86a-071160de5d1a","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway-fra.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":620,"y":100,"wires":[[]]},{"id":"b0156cb3.44d228","type":"watson-language-translator-identify","z":"2d98046b.f3fb14","name":"","default-endpoint":false,"service-endpoint":"https://gateway-fra.watsonplatform.net/language-translator/api","x":350,"y":460,"wires":[["71797da9.3efdfc"]]},{"id":"49d6da.ed0a4928","type":"function","z":"2d98046b.f3fb14","name":"Prepara per identificazione","func":"var lingue = [];\nfor (var i = 0; i < msg.payload.context.lingue.length; i++) { \n    lingue.push(getLanguage(msg.payload.context.lingue[i].value));\n    //lingue.push(msg.payload.context.lingue.value);\n}\nmsg.lingue = lingue;\nmsg.payload = msg.payload.input.text;\n\nreturn msg;\n\nfunction getLanguage(lang){\n    switch (lang){\n        case \"Tedesco\":\n            return \"de\";\n        case \"Inglese\":\n            return \"en\";\n    }\n    return \"it\";\n}","outputs":1,"noerr":0,"x":360,"y":380,"wires":[["b0156cb3.44d228"]]},{"id":"71797da9.3efdfc","type":"function","z":"2d98046b.f3fb14","name":"Prepara per traduzione","func":"msg.srclang = msg.lang.language;\nfor(var i=0;i<msg.lingue.length;i++)\nif(msg.lingue[i]!=msg.lang.language) msg.destlang=msg.lingue[i];\nmsg.payload = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":580,"wires":[["d8b8fbee.9e4b4","ab9a39db.4ae1b"]]},{"id":"5dd4da81.6534a4","type":"comment","z":"2d98046b.f3fb14","name":"problema coding","info":"come faccio ad avere una funziona riconosciuta da tutti i blocchi di function?","x":320,"y":260,"wires":[]},{"id":"d8b8fbee.9e4b4","type":"debug","z":"2d98046b.f3fb14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":600,"wires":[]},{"id":"ab9a39db.4ae1b","type":"watson-translator","z":"2d98046b.f3fb14","name":"","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"tr","password":"1n7ckNjSB7QBpUfYRdc2mwvHe-8c1ZIxoPmopbe2leVg","apikey":"1n7ckNjSB7QBpUfYRdc2mwvHe-8c1ZIxoPmopbe2leVg","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"tr","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":false,"service-endpoint":"https://gateway-fra.watsonplatform.net/language-translator/api","x":670,"y":260,"wires":[["e2169fc8.4099d","db04a65b.047218"]]},{"id":"de358517.4114b","type":"telegram bot","z":"","botname":"WatsonExperimentsBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"}]
