Esercizio Nodered - Alternanza Scuola lavoro 2018/Esercizio_Finale.json
[{"id":"d6c5f8b6.5ee308","type":"telegram sender","z":"e9d91d79.2f4358","name":"","bot":"6f939e81.828878","x":1420.7222900390625,"y":74.02778625488281,"wires":[[]]},{"id":"24c57034.33124","type":"function","z":"e9d91d79.2f4358","name":"Prepare for Conversation","func":"msg.chatId = msg.originalMessage.chat.id;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":166.5,"y":220.00000762939453,"wires":[["5578f0be.f990b"]]},{"id":"5578f0be.f990b","type":"watson-conversation-v1","z":"e9d91d79.2f4358","name":"","workspaceid":"3c0f57bf-e53f-44ad-ae0f-35f15b6e4e0d","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway-fra.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":169.5,"y":355.00000762939453,"wires":[["eda628d4.df3dc8","c41c6695.2213d","7af9362c.300d6"]]},{"id":"a4e6dd0f.c0be","type":"telegram receiver","z":"e9d91d79.2f4358","name":"","bot":"6f939e81.828878","saveDataDir":"","x":119,"y":138.00000762939453,"wires":[["24c57034.33124"],[]]},{"id":"7af9362c.300d6","type":"switch","z":"e9d91d79.2f4358","name":"database","property":"payload.context.database","propertyType":"msg","rules":[{"t":"eq","v":"skip","vt":"str"},{"t":"eq","v":"read_order","vt":"str"},{"t":"eq","v":"read_menu","vt":"str"},{"t":"eq","v":"write_order","vt":"str"},{"t":"eq","v":"write_deleteAll","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":362,"y":326.00000762939453,"wires":[["dd63ab47.2cd038"],["f0b6aa97.2376f8"],["6745061e.a103c8"],["87a4fd5f.6c4cf8","dd63ab47.2cd038"],["aaaf0a7f.a37f78"]]},{"id":"dd63ab47.2cd038","type":"function","z":"e9d91d79.2f4358","name":"skip db","func":"msg.payload = {\n  chatId : msg.originalMessage.chat.id,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;\n","outputs":1,"noerr":0,"x":614,"y":76.0000228881836,"wires":[["d6c5f8b6.5ee308"]]},{"id":"f0b6aa97.2376f8","type":"function","z":"e9d91d79.2f4358","name":"read order","func":"msg.payload=\"typeofdocumentSearch:order\";\nreturn msg;","outputs":1,"noerr":0,"x":617,"y":152.00000762939453,"wires":[["7a97c267.2fa0fc"]]},{"id":"4bcb240e.f5f96c","type":"cloudant out","z":"e9d91d79.2f4358","name":"","cloudant":"","database":"pizzerianando","service":"FlowBasedExperiments-cloudantNoSQLDB","payonly":false,"operation":"insert","x":1106.3333740234375,"y":261.4444274902344,"wires":[]},{"id":"90c1e2ca.c9c43","type":"cloudant in","z":"e9d91d79.2f4358","name":"","cloudant":"","database":"pizzerianando","service":"FlowBasedExperiments-cloudantNoSQLDB","search":"_idx_","design":"typeofdocumentsearch","index":"typeofdocumentSearch","x":788.833251953125,"y":200.88888549804688,"wires":[["f9393cad.638ab8"]]},{"id":"f9393cad.638ab8","type":"function","z":"e9d91d79.2f4358","name":"menu answer","func":"var answer = \"Oggi abbiamo\"\nfor(i=0;i<msg.payload[0].payload.list.length;i++) answer = answer +\", \"+msg.payload[0].payload.list[i]; \n msg.payload = {   \n  chatId : msg.originalMessage.chat.id,\n  type : \"message\",\n  content : answer\n }\nreturn msg;","outputs":1,"noerr":0,"x":981.916748046875,"y":201.05555725097656,"wires":[["d6c5f8b6.5ee308"]]},{"id":"eda628d4.df3dc8","type":"debug","z":"e9d91d79.2f4358","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.context.database","x":176.75001525878906,"y":511.75,"wires":[]},{"id":"b926d333.2d5c58","type":"comment","z":"e9d91d79.2f4358","name":"Write DB","info":"Salviamo un documento composto da\n- tipo pizza\n- numero\n- orario (espresso in secondi)\n\nATTENZIONE: non c'? il controllo di finalizzazione scrittura su cloudant","x":1263,"y":282.5,"wires":[]},{"id":"b056427d.f9897","type":"comment","z":"e9d91d79.2f4358","name":"answer","info":"ATTENZIONE: trovare metodo per conservare dinamicamente chatId","x":1129,"y":174.50001525878906,"wires":[]},{"id":"e58ba4f6.57f2f","type":"cloudant in","z":"e9d91d79.2f4358","name":"","cloudant":"","database":"pizzerianando","service":"FlowBasedExperiments-cloudantNoSQLDB","search":"_idx_","design":"typeofdocumentsearch","index":"typeofdocumentSearch","x":811.75,"y":406.75,"wires":[["8dbbd095.c47fc"]]},{"id":"aaaf0a7f.a37f78","type":"function","z":"e9d91d79.2f4358","name":"delete orders","func":"msg.payload=\"typeofdocumentSearch:order\";\nreturn msg;","outputs":1,"noerr":0,"x":630.75,"y":343.75,"wires":[["e58ba4f6.57f2f"]]},{"id":"8dbbd095.c47fc","type":"function","z":"e9d91d79.2f4358","name":"Prepare list of _id","func":"var count = msg.payload.length;\nvar list = [];\nfor (i=0;i<count;i++) {\nlist.push({\n        _id: msg.payload[i]._id,\n        _rev: msg.payload[i]._rev,\n        _deleted: true\n    });\n}\n\nmsg.payload = {\n                \"docs\": \n                list\n               }\n               \nreturn msg;","outputs":1,"noerr":0,"x":977.75,"y":471.75,"wires":[["3922a633.b7edd2"]]},{"id":"3922a633.b7edd2","type":"http request","z":"e9d91d79.2f4358","name":"deleteDocs","method":"POST","ret":"obj","url":"https://b60ac1c4-cde4-4f7c-b29d-437e581a3d98-bluemix.cloudant.com/pizzerianando/_bulk_docs","tls":"","x":1041.505615234375,"y":340.3944091796875,"wires":[["17a384a8.bac363"]]},{"id":"6745061e.a103c8","type":"function","z":"e9d91d79.2f4358","name":"read menu","func":"msg.payload=\"typeofdocumentSearch:menu\";\nreturn msg;","outputs":1,"noerr":0,"x":617.566650390625,"y":201.5666732788086,"wires":[["90c1e2ca.c9c43"]]},{"id":"87a4fd5f.6c4cf8","type":"function","z":"e9d91d79.2f4358","name":"write order","func":"var time = new Date();\nvar hour = time.getUTCHours();\nvar minute = time.getUTCMinutes();\nvar second = time.getUTCSeconds();\nmsg.payload = {\n        \"type_of_document\": \"order\",\n        \"tipo_pizza\" : msg.payload.context.pizza,\n        \"numero\" : msg.payload.context.number,\n        \"orario\" : hour*60*60+minute*60+second\n};\nreturn msg;","outputs":1,"noerr":0,"x":619.566650390625,"y":263.5666809082031,"wires":[["4bcb240e.f5f96c"]]},{"id":"7a97c267.2fa0fc","type":"cloudant in","z":"e9d91d79.2f4358","name":"","cloudant":"","database":"pizzerianando","service":"FlowBasedExperiments-cloudantNoSQLDB","search":"_idx_","design":"typeofdocumentsearch","index":"typeofdocumentSearch","x":791.566650390625,"y":152.56666564941406,"wires":[["cb640bc6.94f7f"]]},{"id":"cb640bc6.94f7f","type":"function","z":"e9d91d79.2f4358","name":"order answer","func":"if(msg.payload.length===0)\n{\n   msg.payload = {   \n  chatId : msg.originalMessage.chat.id,\n  type : \"message\",\n  content : \"Non ci sono ancora ordini registrati. Che pizza vuoi ordinare?\"\n }   \n}\nelse {\nvar answer = \"Al momento hai ordinato\"    \nfor(i=0;i<msg.payload.length;i++) answer = answer +\"\\n\"+msg.payload[i].payload.numero+\" \"+msg.payload[i].payload.tipo_pizza;\n   msg.payload = {   \n  chatId : msg.originalMessage.chat.id,\n  type : \"message\",\n  content : answer\n }\n}\nreturn msg;","outputs":1,"noerr":0,"x":982.566650390625,"y":152.56666564941406,"wires":[["d6c5f8b6.5ee308"]]},{"id":"c41c6695.2213d","type":"debug","z":"e9d91d79.2f4358","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.intents[0].intent","x":172.56666564941406,"y":468.566650390625,"wires":[]},{"id":"17a384a8.bac363","type":"switch","z":"e9d91d79.2f4358","name":"check delete","property":"payload[0].ok","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1160.566650390625,"y":399.566650390625,"wires":[["84abf7ab.f214c"],["d56f287b.b9cc7"]]},{"id":"84abf7ab.f214c","type":"function","z":"e9d91d79.2f4358","name":"right delete","func":" msg.payload = {   \n  chatId : msg.originalMessage.chat.id,\n  type : \"message\",\n  content : \"Ho cancellato tutti i tuoi ordini, cosa posso fare per te ora?\"\n }\nreturn msg;","outputs":1,"noerr":0,"x":1339.566650390625,"y":357.566650390625,"wires":[["d6c5f8b6.5ee308"]]},{"id":"d56f287b.b9cc7","type":"function","z":"e9d91d79.2f4358","name":"wrong delete","func":" msg.payload = {   \n  chatId : msg.originalMessage.chat.id,\n  type : \"message\",\n  content : \"Ops...non sono riuscito a cancellare gli ordini, cosa posso fare per te?\"\n }\nreturn msg;","outputs":1,"noerr":0,"x":1363.566650390625,"y":402.566650390625,"wires":[["d6c5f8b6.5ee308"]]},{"id":"6f939e81.828878","type":"telegram bot","z":"","botname":"WatsonChatBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"}]
